alabaster==0.7.12
ansible-core==2.14.14
argcomplete==1.12.0
Babel==2.9.1
Brlapi==0.8.2
cffi==1.14.5
chardet==4.0.0
ClusterShell==1.9.3
cryptography==36.0.1
dbus-python==1.2.18
decorator==4.4.2
distro==1.5.0
docutils==0.16
fail2ban==1.1.0
file-magic==0.4.0
gpg==1.15.1
idna==2.10
imagesize==1.2.0
iniparse==0.4
Jinja2==2.11.3
libcomps==0.1.18
libgenders==1.2
lxml==4.6.5
Mako==1.1.4.dev0
MarkupSafe==1.1.1
meson==1.5.1
nftables==0.1
node-check==0.1.0
numpy==1.20.1
packaging==20.9
pcp==5.0
perf==0.1
pexpect==4.8.0
ply==3.11
ptyprocess==0.6.0
pycairo==1.20.1
pycparser==2.20
pyenchant==3.2.0
Pygments==2.7.4
PyGObject==3.40.1
pyinotify==0.9.6
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-hostlist==1.23.0
python-linux-procfs==0.7.3
pytz==2021.1
pyudev==0.22.0
PyYAML==5.4.1
requests==2.25.1
resolvelib==0.5.4
rpm==4.16.1.3
selinux==3.6
sepolicy==3.6
setools==4.4.4
six==1.15.0
snowballstemmer==1.9.0
sos==4.10.2
Sphinx==3.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
subscription-manager==1.29.40.1
systemd-python==234
tomli==2.0.1
urllib3==1.26.5
